<div class="flex flex-col gap-6">
  <div class="flex flex-row gap-3 pb-20 sm:px-0 sm:justify-start sm:items-start justify-center items-center px-10 border-b-2 shadow-sm">
    <app-animated-box class="sm:block hidden"></app-animated-box>
    <div class="flex flex-col gap-3 sm:w-9/12 w-full">
      <div class="2xl:text-6xl text-4xl h-fit sm:mt-28 mt-16 text-center sm:text-start">
        Hi <span class="text-[#007accc2]">,</span> I am Faizan Ashraf
      </div>
      <div class="2xl:text-xl text-lg text-[#007accc2]  text-center sm:text-start">
        Web Developer & Full-Stack Enthusiast
      </div>
      <p class="md:w-7/12 w-full 2xl:text-base text-sm  text-center sm:text-start">{{paraText}}</p>
    </div>
  </div>
  <div class="flex flex-col gap-2 pt-5 pb-10 sm:px-20 xs:px-10 px-5">
    <span class="2xl:text-3xl text-2xl border-b-4 border-[#007accc2] w-fit">My Vision</span>
    <div class="flex md:flex-row flex-col gap-8 px-3 pt-12 pb-3 w-full items-center justify-between">
      <span class="md:w-6/12 w-full text-lg text-justify">
        My vision is to pioneer innovative software solutions that not only meet the needs of today but also create a lasting positive impact on society. By focusing on projects that address social challenges, I strive to develop technologies that contribute to the betterment of communities and add tangible value to people's lives. My goal is to bridge the gap between technology and societal well-being, driving progress through meaningful and impactful projects.
      </span>
      <img src="../../../assets/myVision.jpg" alt="" class="base:w-[500px] base:h-[300px] w-[300px] h-[250px]">
    </div>
  </div>
  <div class="flex flex-col gap-2 pt-5 pb-10 sm:px-20 xs:px-10 px-5">
    <span class="2xl:text-3xl text-2xl border-b-4 border-[#007accc2] w-fit mx-auto sm:mx-0">Portfolio Projects</span>
    <div class="flex flex-wrap gap-x-8 gap-y-16 px-3 pt-12 pb-3 w-full justify-center">
      <app-portfolio-card [heading]="'UCP Odoo Portal'" [desrciption]="'Advance UI of Odoo portal with more Academic features through portal'" [imageUrl]="'../../../assets/odooPrimaryPic.png'" ></app-portfolio-card>
      <app-portfolio-card [heading]="'UCP Odoo Portal'" [desrciption]="'Advance UI of Odoo portal with more Academic features through portal'" [imageUrl]="'../../../assets/odooPrimaryPic.png'" ></app-portfolio-card>
      <app-portfolio-card [heading]="'UCP Odoo Portal'" [desrciption]="'Advance UI of Odoo portal with more Academic features through portal'" [imageUrl]="'../../../assets/odooPrimaryPic.png'" ></app-portfolio-card>
      <app-portfolio-card [heading]="'UCP Odoo Portal'" [desrciption]="'Advance UI of Odoo portal with more Academic features through portal'" [imageUrl]="'../../../assets/odooPrimaryPic.png'" class="xl:block lg:hidden block" ></app-portfolio-card>
      <app-portfolio-card [heading]="'UCP Odoo Portal'" [desrciption]="'Advance UI of Odoo portal with more Academic features through portal'" [imageUrl]="'../../../assets/odooPrimaryPic.png'" class="4xl:block hidden" ></app-portfolio-card>
    </div>
      <p class="flex flex-row gap-2.5 text-[#007ACC] hover:text-[#007accc5] transition-all w-fit sm:ml-auto sm:!mr-0 mx-auto font-bold hover:cursor-pointer " [routerLink]="['../portfolios']" routerLinkActive="router-link-active" >
        View More
        <span class="material-symbols-outlined">
          arrow_right
        </span>
      </p>
  </div>
  <div class="flex base:flex-row flex-col gap-6 pt-5 pb-10 sm:px-20 xs:px-10 px-5 justify-between">
    <div class="flex flex-col gap-2 2xl:w-[40%] base:w-[48%] w-full">
      <span class="2xl:text-3xl text-2xl border-b-4 border-[#007accc2] w-fit">Qualification</span>
      <div class="flex flex-row gap-8 px-3 pt-12 pb-3 w-full justify-between">
        <div class="flex flex-col shadow-all base:h-[300px] h-fit w-full justify-between rounded-xl sm:p-5 p-2 pb-3">
            <span class="flex flex-row gap-4 items-center font-semibold xl:text-xl text-base relative xl:p-5 p-2">
              <span class="lg:text-base text-xs font-bold border-2 lg:p-1 p-0.5 rounded-xl">
                10
              </span>
              <div class="flex flex-col justify-between w-full">
                <div class="flex flex-row gap-6 items-center">
                  Matriculation
                  <span class="muted xl:text-xs xs:text-[10px] text-[8px] font-bold">2018 - 2020</span>
                  <span class="ml-auto xl:text-base xs:text-sm text-xs ">SSC (CS)</span>
                </div>
                <span class="xl:text-xs xs:text-[10px] text-[8px] muted tracking-widest">LDA Model Boys Hight School, Allama Iqbal Town, Lahore</span>
              </div>
            </span>
            <span class="flex flex-row gap-4 items-center font-semibold xl:text-xl text-base relative xl:p-5 p-2">
              <span class=" lg:text-base text-xs font-bold border-2 lg:p-1 p-0.5 rounded-xl">
                12
              </span>
              <div class="flex flex-col justify-between w-full">
                <div class="flex flex-row gap-6 items-center">
                  Intermediate
                  <span class="muted xl:text-xs xs:text-[10px] text-[8px] font-bold">2020 - 2022</span>
                  <span class="ml-auto xl:text-base xs:text-sm text-xs">HSSC (ICS)</span>
                </div>
                <span class="xl:text-xs xs:text-[10px] text-[8px] muted tracking-widest">Punjab Group of Colleges, Muslim Town, Lahore</span>
              </div>
            </span>
            <span class="flex flex-row gap-4 items-center font-semibold xl:text-xl text-base relative xl:p-5 p-2">
              <span class=" lg:text-base text-xs font-bold border-2 lg:p-1 p-0.5 rounded-xl">
                16
              </span>
              <div class="flex flex-col justify-between w-full">
                <div class="flex flex-row gap-6 items-center">
                  Graduation
                  <span class="muted xl:text-xs xs:text-[10px] text-[8px] font-bold">2022 - Cont...</span>
                  <span class="ml-auto xl:text-base xs:text-sm text-xs">BSSE</span>
                </div>
                <span class="xl:text-xs xs:text-[10px] text-[8px] muted tracking-widest">University of Central Punjab, Johar Town, Lahore</span>
              </div>
            </span>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-2 2xl:w-[58%] base:w-[50%] w-full">
      <span class="2xl:text-3xl text-2xl border-b-4 border-[#007accc2] w-fit">Experiense</span>
      <div class="flex flex-row gap-8 px-3 pt-12 pb-3 w-full justify-between">
        <div class="flex flex-col shadow-all base:h-[300px] h-fit w-full rounded-xl sm:p-5 p-2 pb-3">
            <span class="flex flex-row gap-4 items-center font-semibold text-xl relative sm:p-5 p-3">
              <span class="rounded-xl">
                <img src="../../../assets/peopleAI.png" alt="" class="bg-cover w-[50px] h-[50px] rounded-xl">
              </span>
              <div class="flex flex-col">
                <span class="font-semibold lg:text-xl text-sm flex flex-row gap-5 items-center">
                  Angular Developer
                  <span class="muted lg:text-xs text-[10px] font-bold">2023 - Cont...</span>
                </span>
                <span class="lg:text-xs text-[10px] tracking-widest !text-[#007acc]">PeopleAI</span>
              </div>
            </span>
            <span class="px-8 text-justify 2xl:text-lg xl:text-sm base:text-[10px] text-sm">
              As an Angular Developer at People AI, I specialize in developing custom projects tailored to specific Ecommerce solutions. My role involves analyzing project needs, engaging in detailed discussions to ensure alignment with expectations, and seamlessly integrating the frontend with the database and backend systems. By bridging the gap between design, development, and data, I ensure that each solution is both technically sound and user-centric.
            </span>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
