<div class="relative flex 2xl:w-80 md:w-60 w-52 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-all">
  <div class="relative mx-4 -mt-6 2xl:h-40 md:h-32 h-24 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40 bg-gradient-to-r from-[#007ACC] to-[#007ACC] justify-center items-center flex">
    <img [src]="imageUrl" alt="" class="bg-no-repeat h-full w-full">
  </div>
  <div class="p-6">
    <h5 class="mb-2 block font-sans 2xl:text-xl text-base font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      {{  heading }}
    </h5>
    <p class="block font-sans 2xl:text-base text-xs font-light leading-relaxed text-inherit antialiased">
      {{  desrciption }}
    </p>
  </div>
  <div class="p-6 pt-0">
    <button class="button">
      <p class="text">View Detail</p>
    </button>
  </div>
</div>
